.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.picture {
  margin-left: 200px;
}

.navbar-light .navbar-text {
  color: white;
}

.content {
  text-align: center;
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -30%);
  font-size: 22px;
}

@media (max-width: 768px) {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -30%);
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -30%);
    font-size: 22px;
  }
}

.btnLeft {
  margin-right: 20px;
}

.btnRight {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .btnLeft {
    margin-right: 5px;
  }

  .btnRight {
    margin-left: 5px;
  }
}

@media (max-width: 576px) {
  .btnLeft {
    margin-right: 20px;
  }

  .btnRight {
    margin-left: 20px;
  }
}

.cart {
  text-align: right;
}

@media (max-width: 992px) {
  .cart {
    text-align: left;
  }
}

/* mobile responsiveness */
@media (max-width: 992px) {
  .joinShield {
    text-align: center;
    margin-bottom: 50px;
  }
  .sellCovid {
    text-align: center;
    margin-bottom: 50px;
  }
}

.mask {
  width: 80%;
}

@media (max-width: 992px) {
  .mask {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .maskMobile {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .navTab {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .clickHere {
    font-size: 30px;
  }
}

#mobile-only {
  display: none;
}
